@tailwind base;
@tailwind components;
@tailwind utilities;

.waterContainer::before {
    @apply absolute block w-full h-full bg-gray-200 top-0 left-0 rounded-full animate-wave
     animate-riseUp
     
     ;    width: 200%;
    height: 200%;
    top: -150%;
    left: -50%;
  }
  
  .waterContainer::after {
    @apply absolute block w-full h-full bg-gray-200 top-0 left-0 rounded-full animate-wave 
    animate-riseUp
    ;    width: 204%;
    height: 204%;
    top: -150%;
    left: -52%;
    animation-delay: 0.35s;
  }