/* loading1.module.css */

/* Global styles */

.loading1-container {
    box-sizing: border-box;
    outline: none;
  }


/* Variables */
.bgColor {
  background: #020438;
}

.boxColor {
  background: #020438;
}

.waterFColor {
  background: #4d6de3;
}

.waterBColor {
  background: #c7eeff;
}

/* Body styles */

.loading1-body {

  background: var(--bgColor);
  font: 14px/1 'Open Sans', helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* .box styles */
.box {
  height: 280px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--boxColor);
  border-radius: 100%;
  overflow: hidden;
}

/* .percent styles */
.percent {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 64px;
}

/* .water styles */
.water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  background: var(--waterFColor);
  transition: all 0.3s;
}

/* .wave styles */
.water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}

/* .wave_back styles */
.water_wave_back {
  right: 0;
  fill: var(--waterBColor);
  animation: wave-back 1.4s infinite linear;
}

/* .wave_front styles */
.water_wave_front {
  left: 0;
  fill: var(--waterFColor);
  margin-bottom: -1px;
  animation: wave-front 0.7s infinite linear;
}

/* Keyframes */
@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}