/* .text {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
  } */
  
  /* .text span {
    display: inline-block;
    text-shadow: 10px 10px 15px #000000;
    animation: textAnim 2s ease-in-out infinite alternate;
  }
   */
  /* @keyframes textAnim {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-80px);
    }
  } */
  
  @keyframes custom-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25%);
    }
  }